.App {
	text-align: center;
}

/* table {
	border: 1px solid #ddd;
	border-collapse: collapse;
	table-layout: fixed;
	width: 100%;
} */

td,
th {
	white-space: nowrap;
	border: 1px solid #ddd;
	height: 30px;
	width: 40px;
	overflow: hidden;
}

/* .virtualized-cell {
	white-space: nowrap;
	border: 1px solid #ddd;
	height: 30px;
	width: 40px;
	overflow: hidden;
} */

/* thead th {
	background-color: #eee;
	position: sticky;
	top: -1px;
	z-index: 1;
} */

/* td input {
	width: 95%;
	height: 95%;
	font-size: 1em;
} */

.row-number-cell {
	background-color: #eee;
	height: 100%;
	width: 100%;
	position: sticky;
	left: -1px;
	z-index: 1;
}

.selected-cell {
	background-color: '#f0f0f0';
}

.menu {
	z-index: 2;
	text-align: left;
	width: 220px;
	box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
	position: absolute;
	display: none;
	background: rgb(255, 250, 250);
}

.menu-options {
	list-style: none;
	padding: 10px 0;
}

.menu-option {
	font-weight: 500;
	font-size: 14px;
	padding: 10px 40px 10px 20px;
	cursor: pointer;
}

.menu-option:hover {
	background: rgba(0, 0, 0, 0.2);
}

.modal-span {
	display: flex;
	justify-content: space-between;
}

.display-block {
	display: block;
}

.display-none {
	display: none;
}

.display-flex {
	display: flex;
}

/* .move-row-up {
	transform: translateY(-30px);
}

.move-row-down {
	transform: translateY(30px);
} */

.border-right {
	border-right: 1px solid black;
}

.NaN-value {
	background-color: #ffe6e6;
}

.header-handle {
	width: 10px;
	position: absolute;
	right: 0;
	cursor: e-resize;
	user-select: none;
}

.pointer {
	cursor: pointer;
}

/* .header-handle:hover {
  background-color: blue;
} */

.ReactVirtualized__Table {
	display: inline-block;
	border: 2px solid rgba(0, 0, 0, 0.1);
}

.ReactVirtualized__Table__headerColumn {
	display: flex;
	flex-direction: row;
	justify-content: left;
	padding: 0;
	margin-right: 0 !important;
}

.ReactVirtualized__Table__headerColumn:first-of-type {
	margin-left: 0 !important;
}

.ReactVirtualized__Table__headerTruncatedText {
	flex: auto;
}

.DragHandle {
	flex: 0 0 16px;
	z-index: 2;
	cursor: col-resize;
	color: #0085ff;
}
.DragHandle:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.DragHandleActive,
.DragHandleActive:hover {
	color: #0b6fcc;
	z-index: 3;
}

.DragHandleIcon {
	flex: 0 0 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.ReactVirtualized__Grid:focus {
	outline: 0;
	box-shadow: none !important;
}
